{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ HUY }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container-header">
            <a href="{% url 'home' %}" id="logo-header">toolSPACE</a>
            <a href="#" id="catalog-header">каталог</a>
        </div>
    </header>
    <div class="container">
        <div id="fonchik" style="border-radius: 15px;">
            <div id="vygoda">{{ tool.name }}</div>
            <div id="prices">
                <div class="price" style="height: 100px;">
                    <div class="price-pic" style="background-image: url({{ tool.image }}); border-radius: 15px; height: 100px;"></div>
                    <div class="price-info">
                        <div class="title-price">{{ tool.name }}</div>
                        <div class="price-away">
                            <div class="price-price">{{ tool.price }}</div>
                            <a href="{{ tool.url }}" class="away-away" style="border-radius: 10px;">В магазин</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="fonchik" style="border-radius: 15px;">
            <div id="vygoda">{{ tool.name }}</div>
            <div id="prices">
                <div class="price" style="height: 100px;">
                    <div class="price-pic" style="background-image: url({{ tool.image }}); border-radius: 15px; height: 100px;"></div>
                    <div class="price-info">
                        <div class="title-price">{{ tool.name }}</div>
                        <div class="price-away">
                            <div class="price-price">{{ tool.price }}</div>
                            <a href="{{ tool.url }}" class="away-away" style="border-radius: 10px;">В магазин</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="fonchik" style="border-radius: 15px;">
            <div id="vygoda">{{ tool.name }}</div>
            <div id="prices">
                <div class="price" style="height: 100px;">
                    <div class="price-pic" style="background-image: url({{ tool.image }}); border-radius: 15px; height: 100px;"></div>
                    <div class="price-info">
                        <div class="title-price">{{ tool.name }}</div>
                        <div class="price-away">
                            <div class="price-price">{{ tool.price }}</div>
                            <a href="{{ tool.url }}" class="away-away" style="border-radius: 10px;">В магазин</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-footer">
            <a href="#" id="logo-header">toolSPACE</a>
            <a href="#" id="catalog-header">каталог</a>
        </div>
    </footer>
</body>
</html>
